---
import Layout from "@layouts/Layout.astro";
import { GlobeIcon, MailIcon, PhoneIcon } from "lucide-react";
import { Section } from "@/components/react/ui/section";
import { Button } from "@/components/react/ui/button";
import { Card, CardHeader, CardContent } from "@/components/react/ui/card";
import { Badge } from "@/components/react/ui/badge";
import { ProjectCard } from "@/components/react/project-card";
import { GitHubIcon } from "@/components/icons/GithubIcon";
import { LinkedInIcon } from "@/components/icons/LinkedInIcon";
import { XIcon } from "@/components/icons/XIcon";
import { BlueskyIcon } from "@/components/icons/BlueskyIcon";
import { ModeToggle } from "@/components/react/mode-toggle";
import "@/styles/globals.css";
---

<Layout title="Lucas Doell | Full-Stack Software Developer">
  <div
    class="container relative lg:mx-auto scroll-my-12 overflow-auto py-4 px-4 md:px-0 w-full max-w-2xl"
  >
    <div class="float-right">
      <ModeToggle client:load />
    </div>
  </div>
  <main
    class="container relative lg:mx-auto scroll-my-12 overflow-auto pb-4 px-4 print:p-12 md:pb-16 md:px-16"
  >
    <section
      class="mx-auto w-full max-w-2xl space-y-8 bg-white dark:bg-zinc-950 print:space-y-6"
    >
      <div class="flex items-center justify-between">
        <div class="flex-1 space-y-1.5">
          <h1 class="text-2xl font-bold">Lucas Doell</h1>
          <p
            class="max-w-md text-pretty font-mono text-sm text-muted-foreground"
          >
            I'm a full-stack software developer most recently working for
            Appstle Inc. I'm also learning new technologies and working on side
            projects in my free time.
          </p>
          <p
            class="max-w-md items-center text-pretty font-mono text-xs text-muted-foreground"
          >
            <a
              class="inline-flex gap-x-1.5 align-baseline leading-none hover:underline"
              href="https://www.google.com/maps/place/Ithaca"
              target="_blank"
            >
              <GlobeIcon className="h-3 w-3" />
               Ithaca, NY
            </a>
          </p>
          <div
            class="flex gap-x-1 pt-1 font-mono text-sm text-muted-foreground print:hidden"
          >
            <a href={`mailto:lucas@lux.dev`}>
              <Button className="h-8 w-8" variant="outline" size="icon">
                <MailIcon className="h-4 w-4" />
              </Button>
            </a>
            <a
              href="https://github.com/lucasdoell"
              target="_blank"
              rel="noopener noreferrer"
            >
              <Button
                key={"GitHub"}
                className="h-8 w-8"
                variant="outline"
                size="icon"
              >
                <GitHubIcon className="h-4 w-4" />
              </Button>
            </a>
            <a
              href="https://linkedin.com/in/lucasdoell"
              target="_blank"
              rel="noopener noreferrer"
            >
              <Button
                key={"LinkedIn"}
                className="h-8 w-8"
                variant="outline"
                size="icon"
              >
                <LinkedInIcon className="h-4 w-4" />
              </Button>
            </a>
            <a
              href="https://twitter.com/lucasdoell"
              target="_blank"
              rel="noopener noreferrer"
            >
              <Button
                key={"X"}
                className="h-8 w-8"
                variant="outline"
                size="icon"
              >
                <XIcon className="h-4 w-4" />
              </Button>
            </a>
            <a
              href="https://bsky.app/profile/lux.dev"
              target="_blank"
              rel="noopener noreferrer"
            >
              <Button
                key={"Bluesky"}
                className="h-8 w-8"
                variant="outline"
                size="icon"
              >
                <BlueskyIcon className="h-4 w-4" />
              </Button>
            </a>
          </div>
        </div>

        <div class="h-28 w-28">
          <img
            src="/images/linkedin.jpg"
            class="rounded-xl"
            alt="An AI-generated photo of Lucas."
          />
        </div>
      </div>
      <Section>
        <h2 class="text-xl font-bold">About</h2>
        <p class="text-pretty font-mono text-sm text-muted-foreground">
          As a full-stack software engineer, I have built excellent user
          experiences and robust backend systems at scale. I am passionate about
          creating software that is both performant and user-friendly, and I
          have experience working with a variety of technologies and programming
          languages. I am currently seeking a full-time software engineering
          position.
        </p>
      </Section>
      <Section>
        <h2 class="text-xl font-bold">Work Experience</h2>
        <Card key={"Appstle"}>
          <CardHeader>
            <div class="flex items-center justify-between gap-x-2 text-base">
              <h3 class="inline-flex items-center justify-center gap-x-1 font-semibold leading-none">
                <a class="hover:underline" href="https://appstle.com">
                  Appstle Inc.
                </a>
                <span class="hidden sm:inline-flex gap-x-1">
                  <Badge variant="secondary" className="align-middle text-xs">
                    Remote
                  </Badge>
                </span>
              </h3>
              <div class="text-sm tabular-nums text-gray-500">
                February 2023 - December 2023
              </div>
            </div>
            <h4 class="font-mono text-sm leading-none">Software Developer</h4>
          </CardHeader>
          <CardContent className="mt-2 text-xs">
            At Appstle Inc., my role was multifaceted, focusing on developing
            new features for over 30,000 merchants and engaging in full-stack
            development using Java, TypeScript, and React. I refined our
            software by refactoring React components and managing a substantial
            codebase of over 500,000 lines. Additionally, I handled database
            management tasks with MySQL and DynamoDB, and created specialized
            internal tools for merchant-specific needs. My responsibilities also
            included implementing and optimizing AWS Step Functions to ensure
            robust and efficient task execution, underlining my comprehensive
            involvement in both front and backend development. Outside of
            programming, I also focused on reducing customer churn and
            collecting analytics using Intercom to improve the user experience
            and strengthen our retention strategies.
          </CardContent>
        </Card>
        <Card key={"lux"}>
          <CardHeader>
            <div class="flex items-center justify-between gap-x-2 text-base">
              <h3 class="inline-flex items-center justify-center gap-x-1 font-semibold leading-none">
                <a class="hover:underline" href="https://github.com/luxdotdev">
                  lux.dev
                </a>
              </h3>
              <div class="text-sm tabular-nums text-gray-500">
                November 2023 - Present
              </div>
            </div>
            <h4 class="font-mono text-sm leading-none">Founder</h4>
          </CardHeader>
          <CardContent className="mt-2 text-xs">
            I am the founder of lux.dev, a software development company that
            specializes in building web applications for data visualization and
            analytics. My current focus is on Parsertime, a web app that helps
            collegiate Overwatch players track their statistics. This project
            has allowed me to refine my skills in full-stack development using
            Next.js, Tailwind, Prisma, and Postgres. You can check out the project
            <a href="https://parsertime.app" class="text-blue-500" target="_blank">
              here
            </a> 
            or view the source code
            <a href="https://github.com/luxdotdev/parsertime" class="text-blue-500" target="_blank">
              here.
            </a>
          </CardContent>
        </Card>
      </Section>
      <Section>
        <h2 class="text-xl font-bold">Education</h2>
        <Card key={"Cornell"}>
          <CardHeader>
            <div class="flex items-center justify-between gap-x-2 text-base">
              <h3 class="font-semibold leading-none">Cornell University</h3>
              <div class="text-sm tabular-nums text-gray-500">
                August 2021 - December 2022
              </div>
            </div>
          </CardHeader>
          <CardContent className="mt-2">
            Bachelor's in Computer Science
          </CardContent>
        </Card>
      </Section>
      <Section>
        <h2 class="text-xl font-bold">Skills</h2>
        <div class="flex flex-wrap gap-1">
          <Badge>JavaScript</Badge>
          <Badge>TypeScript</Badge>
          <Badge>Java</Badge>
          <Badge>React</Badge>
          <Badge>Next.js</Badge>
          <Badge>Node.js</Badge>
        </div>
      </Section>

      <Section className="print-force-new-page scroll-mb-16">
        <h2 class="text-xl font-bold">Projects</h2>
        <div
          class="-mx-3 lg:grid grid-cols-1 gap-3 print:grid-cols-3 print:gap-2 md:grid-cols-2 lg:grid-cols-3"
        >
          <ProjectCard
            title="Parsertime"
            description="A web app written to help collegiate Overwatch players track their statistics."
            tags={["Next.js", "Tailwind", "Prisma", "Postgres", "Vercel"]}
            link="https://github.com/luxdotdev/parsertime"
          />
          <ProjectCard
            title="Interpreter/Compiler"
            description="An interpreter and compiler for a toy language built in both Go and Rust."
            tags={["Go", "Rust", "Unit Testing"]}
            link="https://github.com/lucasdoell"
          />
          <ProjectCard
            title="OWL Bot"
            description="A Discord bot written in TypeScript that fetches OWL stats and schedules."
            tags={[
              "Express",
              "Discord.js",
              "Web Scraping",
              "Docker",
              "Puppeteer",
            ]}
            link="https://github.com/lucasdoell/owlbot"
          />
          <ProjectCard
            title="Sports Stats Web Scraper"
            description="Final project for CS 3110. Written primarily in OCaml with testing in OUnit2."
            tags={["OCaml", "OUnit2", "Web Scraping", "Python"]}
            link="https://github.com/lucasdoell/CS3110-scraping"
          />
          <ProjectCard
            title="Headless Shopify Store"
            description="A headless Shopify e-commerce store built with Next.js and Tailwind CSS."
            tags={["Next.js", "Tailwind", "Shopify"]}
            link="https://github.com/lucasdoell/shopify-nextjs"
          />
          <ProjectCard
            title="Roundest Pokemon"
            description="Built with Next.js, Tailwind, Prisma, tRPC, and MySQL."
            tags={["Next.js", "Tailwind", "Prisma", "MySQL", "tRPC", "Vercel"]}
            link="https://github.com/lucasdoell/roundest-mon"
          />
        </div>
      </Section>
    </section>
  </main>
</Layout>
