---
import ProjectSection from "@/components/ProjectSection";
import HeroCard from "../components/HeroCard.astro";
// import ProjectSection from "../components/ProjectSection.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="py-24">
    <HeroCard />
  </div>

  <ProjectSection client:load />
</Layout>
