<div class="m-auto max-w-[104px]">
  <div class="flex flex-row space-x-4 pt-4">
    <a
      href="https://twitter.com/lucasdoell"
      rel="noopener noreferrer"
      target="_blank"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="fill-neutral-600 duration-300 hover:fill-white hover:transition-colors focus:fill-white focus:transition-colors"
      >
        <g clip-path="url(#clip0_407_116)">
          <path
            d="M21.543 6.73C21.5576 6.93614 21.5576 7.14227 21.5576 7.35031C21.5576 13.6893 16.6045 21 7.54759 21V20.9962C4.87215 21 2.25229 20.2533 0 18.8455C0.389031 18.8911 0.780012 18.9139 1.17197 18.9149C3.38915 18.9168 5.54296 18.192 7.28726 16.8573C5.18026 16.8184 3.3326 15.4799 2.68714 13.5259C3.42523 13.6646 4.18574 13.6361 4.91018 13.4432C2.61304 12.9911 0.96039 11.0247 0.96039 8.74102V8.68023C1.64485 9.05165 2.41121 9.25779 3.19512 9.28059C1.03157 7.87183 0.364656 5.06761 1.67118 2.87514C4.17112 5.87221 7.8596 7.69419 11.8191 7.88703C11.4223 6.22083 11.9644 4.47484 13.2436 3.30357C15.2268 1.48728 18.3459 1.58038 20.2101 3.5116C21.3129 3.29977 22.3698 2.90554 23.337 2.34698C22.9694 3.45746 22.2001 4.40075 21.1725 5.00016C22.1484 4.88807 23.102 4.63348 24 4.24496C23.3389 5.2101 22.5063 6.05079 21.543 6.73Z"
          ></path>
        </g>
        <defs>
          <clipPath id="clip0_407_116">
            <rect width="24" height="19" fill="white" transform="translate(0 2)"
            ></rect>
          </clipPath>
        </defs>
      </svg>
    </a>

    <a
      href="https://linkedin.com/in/lucasdoell"
      rel="noopener noreferrer"
      target="_blank"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="fill-neutral-600 duration-300 hover:fill-white hover:transition-colors focus:fill-white focus:transition-colors"
      >
        <g clip-path="url(#clip0_407_117)">
          <path
            d="M19 0H5C2.239 0 0 2.239 0 5V19C0 21.761 2.239 24 5 24H19C21.762 24 24 21.761 24 19V5C24 2.239 21.762 0 19 0ZM8 19H5V8H8V19ZM6.5 6.732C5.534 6.732 4.75 5.942 4.75 4.968C4.75 3.994 5.534 3.204 6.5 3.204C7.466 3.204 8.25 3.994 8.25 4.968C8.25 5.942 7.467 6.732 6.5 6.732ZM20 19H17V13.396C17 10.028 13 10.283 13 13.396V19H10V8H13V9.765C14.396 7.179 20 6.988 20 12.241V19Z"
          ></path>
        </g>
        <defs>
          <clipPath id="clip0_407_117">
            <rect width="24" height="24" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </a>

    <a
      href="https://github.com/lucasdoell"
      rel="noopener noreferrer"
      target="_blank"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="fill-neutral-600 duration-300 hover:fill-white hover:transition-colors focus:fill-white focus:transition-colors"
      >
        <g clip-path="url(#clip0_407_130)">
          <path
            d="M12 0C5.374 0 0 5.373 0 12C0 17.302 3.438 21.8 8.207 23.387C8.806 23.498 9 23.126 9 22.81V20.576C5.662 21.302 4.967 19.16 4.967 19.16C4.421 17.773 3.634 17.404 3.634 17.404C2.545 16.659 3.717 16.675 3.717 16.675C4.922 16.759 5.556 17.912 5.556 17.912C6.626 19.746 8.363 19.216 9.048 18.909C9.155 18.134 9.466 17.604 9.81 17.305C7.145 17 4.343 15.971 4.343 11.374C4.343 10.063 4.812 8.993 5.579 8.153C5.455 7.85 5.044 6.629 5.696 4.977C5.696 4.977 6.704 4.655 8.997 6.207C9.954 5.941 10.98 5.808 12 5.803C13.02 5.808 14.047 5.941 15.006 6.207C17.297 4.655 18.303 4.977 18.303 4.977C18.956 6.63 18.545 7.851 18.421 8.153C19.191 8.993 19.656 10.064 19.656 11.374C19.656 15.983 16.849 16.998 14.177 17.295C14.607 17.667 15 18.397 15 19.517V22.81C15 23.129 15.192 23.504 15.801 23.386C20.566 21.797 24 17.3 24 12C24 5.373 18.627 0 12 0Z"
          ></path>
        </g>
        <defs>
          <clipPath id="clip0_407_130">
            <rect width="24" height="24" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </a>
  </div>
</div>
