---
import Background from "../components/Background";
import Nav from "../components/Nav.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Lucas Doell | Software Engineer, CS @ Cornell</title>
  </head>
  <body class="bg-black">
    {/* Fixed position background that covers entire scrollable area */}
    <div class="fixed inset-0 w-full">
      <Background client:load />
    </div>

    {/* Main content wrapper */}
    <div class="relative min-h-screen w-full">
      <Nav />
      <main class="relative z-10 w-full">
        <slot />
      </main>
    </div>
  </body>
</html>
